<div class="container-fluid">
    <div class="row ">
        <div class="col-3">
            <img src="../../../assets/img/feedback/detail.png" style="width: 100%;">
        </div>
        <div class="col-6">
            <label class="net">Rate your Newtwork</label>
        </div>
        <div class="col-3">
            <img src="../../../assets/img/feedback/exit.png" style="width: 100%;">
        </div>

    </div>

    <div class="row " style="padding-top: 9%;">
        <div class="col">
            <img src="../../../assets/img/feedback/1.png" style="width: 100%;">
        </div>
        <div class="col">
            <img src="../../../assets/img/feedback/2.png" style="width: 100%;">
        </div>
        <div class="col">
            <img src="../../../assets/img/feedback/3.png" style="width: 100%;">
        </div>
        <div class="col">
            <img src="../../../assets/img/feedback/4.png" style="width: 100%;">
        </div>
        <div class="col">
            <img src="../../../assets/img/feedback/5.png" style="width: 100%;">
        </div>
    </div>

    <div class="row " style="padding-top: 9%;">
        <div class="col-6">
            <button type="button" class="btn btn-block-left">
                    <label>Send</label>
                  <img class="react" src="../../../assets/img/feedback/send.png">
                </button>

        </div>
        <div class="col-6">
            <button type="button" class="btn btn-block-right">
                    <label style="top: 18%;left: 30%;position: absolute;font-size: 156%;">Cancel</label>
                  <img class="react" src="../../../assets/img/feedback/exit.png">

                </button>
        </div>

    </div>
</div>