<ion-content>
    <div class="menu splash-bg flex-box">
        <div style="height: 80%;">
            <img class="img-fluid" style="height: 118%;
            width: 100%;" src="../../assets/img/home/home.png ">
        </div>
        <div class="container-fluid " style="height: 20%;margin-top: -73px;">
            <p style=" z-index: 3;
            color: #25368c;
            font-family: Roboto;
            font-weight: 700;
            line-height: 42px;
            text-align: center;">For a Better Mobile Experience</p>
            <p style="  z-index: 3;
            color: #6a7ce8;
            font-family: Roboto Condensed;
            font-weight: 700;
            font-size: 25px;
            text-align: center;margin-top: -3px;">Let's Get Stared</p>
            <ion-buttons style="justify-content: center;
            margin-top: -63px;
            margin-right: -244px;">
                <button type="button " style="background-color: white;" routerDirection="forward" [routerLink]="'/home'">
                    <img class="img-fluid" style="width: 42px;" src="../../assets/icon/index/back.png ">
                    <img class="img-fluid" style="width: 40px;margin-left: -42px;" src="../../assets/icon/index/flesh.png ">
                  </button>
            </ion-buttons>
        </div>
    </div>


</ion-content>